#a  {
    background-color: rgb(160, 28, 28);
    color: antiquewhite;
}

#b  {
    background-color: rgb(212, 202, 202);
    background-image: url(pics/1.png);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;
}

#c {
    background-color: rgb(226, 142, 142);
    color: crimson;
}

#d  {
    background-color: rgb(238, 194, 194);
    background-color: rgb(216, 78, 78);
    background-image: url(pics/2.png);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;
}

#e  {
    background-color: rgba(95, 79, 6, 0.637);
}

#f  {
    background-color: rgb(204, 218, 83);
    background-color: rgb(216, 78, 78);
    background-image: url(pics/3.jpg);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;
    
}
#g  {
    background-color: rgb(52, 102, 99);
    color: aqua;
}

#h  {
    background-color: rgb(240, 105, 233);
    background-image: url(pics/4.png);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;

}

#i  {
    background-color: rgb(97, 78, 78);
    color: blue;
}

#j  {
    background-color: rgb(110, 42, 70);
    background-image: url(pics/5.jpg);   
    background-position: center;
    background-repeat: no-repeat;
    background-size:  90px; 
}

#k  {
    background-color: rgb(223, 236, 29);
    color: darkorange;
}

#l  {
    background-color: rgb(129, 102, 129);
    background-image: url(pics/6.png);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;
    
}

#m  {
    background-color: rgb(130, 211, 148);
    color: coral;
}

#n  {
    background-color: rgb(161, 156, 156);
    background-image: url(pics/7.png);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;
    
}

#o  {
    background-color: rgb(235, 206, 206);
    color: darkgoldenrod;
}

#p  {
    background-color: rgb(241, 190, 190);
    background-image: url(pics/8.png);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;
    
}


table {
    border-style: solid;
    width: 800px; height: 90%;  
    border-color: black;   
    border: thin solid;
    
     
}

td {
    height: 120px; width: 120px;
}