
html{
    
    margin: 0;
    padding: 0;
}     


body {
    font-family: 'Roboto', sans-serif;
    color: azure;
    margin: 0;
    padding: 0;
    background-color: rgb(195, 230, 43);
    height: fit-content;
    width: fit-content;
    
    

    
    
    
    
    
    
}


h1 {
    font-family: 'Roboto', sans-serif;
    color: azure;
    font-size: 100px;
    text-align: end;            
}





.header {
    
    width: 100%;
    height: 150px;
    background-color: rgb(139, 110, 70);
    float: left;
    background-image: url("water.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    
   
        
    
}

header image{
    width: 100%; 
    object-fit: cover;
    
    
}


.col-1 {width: 18.18%; height: 700px;  background-color: rgb(95, 95, 85); color: rgb(255, 255, 255); float: left;}
.col-2 {width: 81.81%; height: 700px; background-color: rgb(206, 192, 175); color: rgb(255, 255, 255); float: right;} 



ul {    
    margin-top: 15%;
    margin-bottom: 20%;
    padding-left: 7%;       
    float: left;
    width: 60%;
    
}

li {
    word-wrap: break-word;
    margin: 20%;
    height: 50%;
    
    
    
}
    

.div1 {   
background-color: rgb(153, 151, 134);
display: block;
height: 100%;
width: 50%;
margin-bottom: 0%;
padding-bottom: 0%;
float: left;
text-align: center;
}

.pic1 {
    float: right;
    padding-right: 1%;
    width: 50%;
    height: 25%;
    object-fit: cover;
    
}    


.div2 {
    background-color: rgb(153, 151, 134);
    display: block;
    float: right;
    height: 100%;
    width: 50%;                
    }

    

.pic2{
    float: right;
    padding-right: 1%;
    width: 50%;
    height: 25%;
    object-fit: cover;
}    


@media only screen and (max-width: 600px) {
    .pic1, .pic2 {
        width: 99%;
        height: 10%;

        
    }
}


footer {
    
    width: 100%;
    height: 150px;
    float: left;
    background-color: rgb(68, 66, 63);
    text-align: center;
    
    
    
    
}